@color_header: #ff771d;
@color_body: #fbfbfb;

html, body {
	background: @color_body;
}
.navbar {
	background: @color_header;
	.navbar-header {
		padding: 15px;
		background: #fff;
	}
}
.block-statements, .block-form {
	background: #ffffff;
    height: auto;
    padding: 15px;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid #e9e7e7;
}